# use glob syntax
syntax: glob

# Ignore Visual Studio files, unimportant files and build directories
*.cachefile
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.exp
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.scc
*.unsuccessfulbuild
*.orig
*.orig.meta
[Bb]in/
[Db]ebug/
obj/
[Rr]elease/
_ReSharper*/
_UpgradeReport_Files/
_NCrunch*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.sln.ide
*.pidb
*.userprefs
*.vs10x
NDependOut/
Help/Help
Report/
.git/
.svn/
*.db
.DS_Store
*.ps1
*.nupkg
*.transform
*.psd1
*.psd
*.psm1
packages/opentk*
*.ide
ipch/

# Disallow all binary and content files, they come from the Content System (see wiki)
*.bmp
*.gif
*.tif
*.dae
*.glessl
*.rgb
*.rgba
*.rgba4
*.dds
*.psd
*.max
*.3ds
*.font
*.pdf
*.doc
*.docx
*.img
*.mov
*.mpg
*.img
*.mp4
*.m4v
*.wma
*.wmv
*.mov
*.bin
*.iso
*.svn
*.zip
*.rar
*.7z
*.chm
*.help
*.html
*.htm
*.orig
*.css
*.xslt
*.swf
*.JPG
*.xnb
*.ide
*.nuspec
*.ide
*.cer
*.appx*
*.rtf
_._
packages
*.xap
*.tdf
*/gen/
*/libs/
local.properties
ant.properties
project.properties
proguard.cfg
Release/
*.shfbproj_*
OpenTK.xml
*.dat
*.apk
*.ipk
**/Library/*
**/Temp/*
**/Build/*
**/Builds/*
*.tss
.vs/
**/Logs/
**/Packages/packages-lock.json
**/UserSettings/
